@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Car" asp-action="Index">Car List</a>
<br />
<a asp-controller="Car" asp-action="FilterByYear"> List of cars older then 2020</a>
<br />
<a asp-controller="Car" asp-action="FilterByColor"> List of car colors</a>
